{% extends "base.html" %}
{% block content %}
    <header>
        <div id="logo_div">
            <a href="/" class="anchor_svg">
                <object data="{{ STATIC_URL }}logo.svg" type="image/svg+xml"></object>
            </a>
            <a href="/" class="big_font" id="logo">HowSo.co</a>
        </div>
    </header>
    <nav class="clear">
        <ul id="nav_ul">
            <li><a {% block home %}{% endblock %} href="/">Home</a></li>
            <li><a {% block learn %}{% endblock %} href="/class/list/">Learn</a></li>
            <li><a {% block teach %}{% endblock %} href="/time/pick/">Teach</a></li>
            <li><a {% block profile %}{% endblock %} href="/profile/">Profile</a></li>
        </ul>
    </nav>     
    {% block sub_content %}
    {% endblock %}
{% endblock %}
